.closebutton{
    cursor: pointer;
    margin: 0px;
    background-color: green;
    border-radius: 10px;
}

.windowheader{
    background-image: url(Handlebar\ background.png);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(42, 36, 36);
    color: orange;
    margin: 0px;
    padding: 0px;
}

.windowtopbar{
    border-bottom: solid 3px orange;
}

.window{
    display: flex;
    flex-direction: column;
    border: solid orange;
    border-radius: 25px;
    color: white;
    background-color: #3c3b3c;
    padding: 10px;
    padding-top: 0px;
    position: absolute;
}

.selected{
    border-radius: 15px;
    outline: solid orange 5px;
    text-decoration-line: underline;
}

#terminalinput{
    background: transparent;
    border: none;
    outline: none;
    color: white;
}
